body{
  position:relative;
  display:block;  
}
body::after{
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    position:absolute;
    content: "";
    background-image: url(../images/help.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
}
label{
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: solid underline;
}

p{
    border: 2px solid black;
    padding: 5%;
    margin-left:25%;
    margin-right:25%;
}