body{
}
.img1{
    height:2px;
}
.container img1{
    height:50%;
}
.box{
    width:100%;
    
}
.item{
 
    padding:15px;
    margin:10px;
    

}
.items{
    background-color: white;
    border: 1px solid gray;
    padding:10px;
    margin:20px;
}
table{
    column-count: 3;
    border-spacing: 20px;
    
    border-collapse: separate;
}
 
#login{
    float:right;
}

#graphs{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gitems{
    align-self: center;

}