<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/botstyle.css">
</head> 
<body>
    
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/helpline">Helpline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/missing">Missing</a>
            </li>
            
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/crimebot">CrimeBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/faqs">FAQs</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="chatbot">
        <div class="chat">
          <iframe style="height:500px; width:480px; " src='https://webchat.botframework.com/embed/crime-bot?s=fGr7tMk4eyI.Xntu44qHhPapGIF598BToe188NQ1zvqXI7IBK5R9iJw'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
        </div>
        <div class="chat" id="cbpara">
          <p>The CrimeBot helps the user to expand their knowledge about the various types of crimes, how to report those crimes, and the rights and laws concerning them, through an interactive chat. 
            It also helps the user to register an FIR and generate a pre-filled FIR form with an option to edit. An FIR number is also generated.
            In case someone has proofs related to a crime, the CrimeBot will also provide them with an option to upload the proof in the form of document, image, video and audio clip.</p>
        </div>
       </div>
</body>
</html>