<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href="/css/style.css">
    
    <title>Crime</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/helpline">Helpline</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/missing">Missing</a>
            </li>
            
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/crimebot">CrimeBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/faqs">FAQs</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
    <div class=' box '>
        <img src="/img/dontcross.png" class="img-fluid" alt="Responsive image">
    </div>
    <div id="graphs">
      <div class="gitems">
        <img src="/img/graph1.png" alt="Responsive image">
      </div>
      <div class="gitems">
        <img src="/img/graph2.png" alt="Responsive image">
      </div>
    </div>
     <div class='item'>
            <table>
                <tbody>
                    <tr>
                        <td align="center" class='items'>
                            <h2>Man held for acid attack on sister-in-law </h2>
							<img alt="img" src="/img/article1.png">
                            <p>A 55 year old man in Mangaluru has been arrested for allegedly attacking his sister in law and her daughter with acid. The victim is 35 year old widow <a href="#">...see more</a></p>
                        </td>
                        <td   align="center" rowspan='2'class='items ' >
                            <div>
                                    <h2>Teen gang-raped in Haryana's Panipat, suspects arrested</h2>
                                    <img src="/img/article2.png">
                                    <p>The girl was going to a tuition centre on her scooter on Friday evening when two men waylaid her and then took her to a secluded place in their car.<a href="#">...see more</a></p>        
                            </div>
                             </td>
                        <td align="center" class=' items'>
                        <div >
                                <h2>Delhi: Bank employee, brother-in-law arrested for credit card fraud</h2>
                                <img src='/img/article3.png'>
                                <p>A gang of brother-in-law and sister-in-law was arrested by the Delhi Police for running a credit card fraud racket in the national capital<a href="#">...see more</a></p>
                          
                        </div>
                            </td>    
                    </tr>
                    <tr>
                            <td align="center" class='items'>
                                <div>
                                        <h2>UP: Woman kept hostage and raped for 5 days in Bhadohi</h2>
                                        <img src='/img/article4.png'>
                                        <p>The accused has been identified as Vishal Saroj, who hails from the same village as that of the woman. The woman got married three months back.<a href="#">...see more</a></p>
                                  
                                </div>
                                </td>
                            <td align="center" class=' items'>
                                <div>
                                        <h2>Girl found unconscious in Noida, medical report shows no sign of rape</h2>
                                        <img src='/img/article5.png'>
                                        <p>A girl was allegedly gangraped in Noida. The girl was found near Kendriya Vihar in Noida's Sector 51 on Friday.<a href="#">...see more</a></p>
                                 
                                </div>
                             </td>
                    </tr>
                </tbody>
            </table>
            
           </div>
       </div>
       
    <div class="articles container">

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>