<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href="../css/missingstyle.css">
    
    <title>Crime</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="pindex.html">Complaints</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="pmissing.html">Missing People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Wanted Criminals</a>
          </li>
            
            
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="crimebot.html">CrimeBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> List of Missing People</h1>
    </div>
    <div class="container body-content">
        <div class="container"> 
            <div class="row justify-content-start" style="padding-top:10px;">
                
                <div class="col" style="padding-top:10px;">
                    <button class="btn btn-danger">ADD NEW PERSON</button>
                </div>
            </div>       
            <div class="row justify-content-start" style="padding-top:10px;">
                <div class="col" style="padding-top:10px;">
                    <input placeholder="Search by Name/State"class="form-control"></input>
                </div>
                <div class="col" style="padding-top:10px;">
                    <button class="btn btn-primary">SEARCH</button>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class='row'>
        <div class='col-lg-4 col-sm-6'>
            <div class="card" style="width: 18rem;">
                <div class="cardimage">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1533781107041-b3b8441e1612?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Card image cap">
         
                </div>
                <div class="card-body">
                  <h5 class="card-title">Bhawna Babber</h5>
                  <p class="card-text">Place of Missing - Cannaught Place, Delhi</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age 26</li>
                  <li class="list-group-item">Complexion Wheatish</li>
                  <li class="list-group-item">Height 153 Cms.</li>
                  <li class="list-group-item">Wearing Red and Black suit<br><br></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Status Info</a>
                  <a href="#" class="card-link">Delete </a>
                </div>
              </div>
        </div>
        <div class='col-lg-4 col-sm-6'>
            <div class="card" style="width: 18rem;">
                <div class="cardimage">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1533831930057-6aa5b6988581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=281&q=80" alt="Card image cap">
            
                </div>
                <div class="card-body">
                  <h5 class="card-title">Devank Rana</h5>
                  <p class="card-text">Place of Missing - Noida, Uttar Pradesh</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age 18</li>
                  <li class="list-group-item">Complexion Shallow</li>
                  <li class="list-group-item">Height 165cms</li>
                  <li class="list-group-item">Wearing Parrot green shirt and Blue jeans</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Status Info</a>
                  <a href="#" class="card-link">Delete </a>
                </div>
              </div>
        </div>
        <div class='col-lg-4 col-sm-6'>
            <div class="card" style="width: 18rem;">
                <div class="cardimage">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1534339480783-6816b68be29c?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="Card image cap">
              
                </div>
                 <div class="card-body">
                  <h5 class="card-title">Arvind Kumar</h5>
                  <p class="card-text">Place of Missing - Gurgaon, Haryana</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age 33 </li>
                  <li class="list-group-item">Complexion Wheatish</li>
                  <li class="list-group-item">Height 160 cms</li>
                  <li class="list-group-item">Wearing Black shirt and black pant<br><br></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Status Info</a>
                  <a href="#" class="card-link">Delete </a>
                </div>
              </div>
        </div>
    
        <div class='col-lg-4 col-sm-6'>
            <div class="card" style="width: 18rem;">
                <div class="cardimage">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1490725626616-40fd15e2d0cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
             
                </div>
                  <div class="card-body">
                  <h5 class="card-title">Himanshi Batra</h5>
                  <p class="card-text">Place of Missing - Jaipur, Rajasthan</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age 8</li>
                  <li class="list-group-item">Complexion Dark</li>
                  <li class="list-group-item">Height 120cms</li>
                  <li class="list-group-item">Wearing Pink frock</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Status Info</a>
                  <a href="#" class="card-link">Delete </a>
                </div>
              </div>
        </div>
        <div class='col-lg-4 col-sm-6'>
            <div class="card" style="width: 18rem;">
                <div class="cardimage">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1552113125-81af17f36b57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Card image cap">
              
                </div>
                <div class="card-body">
                  <h5 class="card-title">Deepi Kumari</h5>
                  <p class="card-text">Place of Missing - SeemaGaon, Bihar</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age 16</li>
                  <li class="list-group-item">Complexion Shallow</li>
                  <li class="list-group-item">Height 130 cms</li>
                  <li class="list-group-item">Wearing orange lehnga choli</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Status Info</a>
                  <a href="#" class="card-link">Delete </a>
                </div>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>